<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mVue</title>
    <script src="./mVue.js"></script>
</head>

<body>
    <div id="app">
        <h2>{{title}}</h2>
        <input v-model="name">
        <h1>{{name}}</h1>
        <div>计时：{{ count }} {{name}}</div>
        <div>{{obj.a}}</div>
        <div>
            <button v-on:click="clickMe">click me!</button>
        </div>
        <div>ssxxx</div>
        <div class="list" v-for="(item, index) in list">
            <div v-on:click="clickMe"><b>{{item.name}}</b><i>{{index}}</i></div>
        </div>
    </div>

    <script type="text/javascript">
        new mVue({
            el: "#app",
            data: {
                title: "hello world",
                name: "moneyinto",
                obj: {
                    a: 1,
                    b: 2
                },
                count: 1,
                list: [
                    {
                        name: "xx"
                    },
                    {
                        name: "aaa"
                    },
                    {
                        name: "bbb"
                    }
                ]
            },
            methods: {
                clickMe: function () {
                    alert("点击了")
                }
            },
            mounted: function () {
                window.setInterval(() => {
                    this.count++;
                }, 1000);
            }
        });
    </script>
</body>

</html>